.metro {
  margin: 2px;
  color: #ff661f;
  font-size: 16px;
  line-height: 16px;
  font-family: GothamXNarrow-Book;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.rail {
  margin: 2px;
  color: #8c4899;
  font-size: 16px;
  line-height: 16px;
  font-family: GothamXNarrow-Book;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}