.label {
  margin: 2px;
  color: #0379c8;
  background: white;
  font-size: 14px;
  line-height: 14px;
  padding: 2px;
  font-family: GothamXNarrow-Light;
  max-width: 120px;
  text-align: center;
}

.headerFi {
  font-family: GothamXNarrow-Medium;
}

.headerSe {
  font-family: GothamXNarrow-Book;
}