.label {
  margin: 2px;
  background: white;
  font-size: 14px;
  line-height: 14px;
  padding: 2px;
  font-family: GothamXNarrow-Book;
  max-width: 120px;
  text-align: center;
}

.headerFi {
  font-family: GothamRounded-Medium;
}

.headerSe {
  font-family: GothamRounded-Book;
}

.bus {
  color: #0379c8;
}

.tram {
  color: #009a5f;
}